@import "../../../index.css";
.sidebar .tags ul li {
	margin-right: 6px;
	display: inline-block;
}

.sidebar .tags ul li {
	margin-bottom: 10px;
}

.sidebar .tags ul li a {
	font-size: 15px;
	font-weight: 500;
	color: var(--light-gray);
	display: inline-block;
	border: 1px solid #eee;
	padding: 10px 18px;
	transition: all 0.3s;
}

.sidebar .tags ul li a:hover {
	background-color: var(--orannnge);
	border-color: var(--orannnge);
	color: white;
}
