.first-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-height: 100%;
}
.login-register-buttons {
	display: flex;
}
.login-button {
	display: inline;
	background-color: #f48840;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s;
	height: 40px;
	width: 80px;
	text-align: center;
}

.login-button:hover {
	background-color: #fb9857;
}

.register-button {
	border: 2px solid #f48840;
	text-transform: uppercase;
}

.register-button:hover {
	background-color: #fb9857;
	color: #fff;
}
