@import "../../index.css";
.user-info-card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
	border-radius: 0;
	align-items: center;
}
.user-info {
	align-items: center;
	display: flex;
}
.img-responsive {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.user-info-text {
	margin-left: 12px;
	width: 100%;
	display: block;
}
.user-info-text div div .user-info-text {
	color: var(--dark-blue);
	line-height: 20px;
	font-size: 20px;
	font-weight: 400;
}
span.user-name {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	max-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--dark-blue);
	line-height: 20px;
	font-size: 14px;
	font-weight: 400;
}
.follow-btn {
	margin-left: 8px;
	flex: 0 0 auto;
	display: block;
}
.follow-btn button {
	padding: 0px 8px 1px;
	border: 1px solid rgb(26, 137, 23);
	border-radius: 4px;
	line-height: 20px;
	display: inline-block;
	font-weight: 400;
	background: rgb(26, 137, 23);
	fill: white;
	color: white;
	font-size: 13px;
	text-decoration: none;
	box-sizing: border-box;
}
.message-btn button {
	margin-left: 4px;
	padding: 0px 8px 1px;
	border: 1px solid red;
	border-radius: 4px;
	line-height: 20px;
	display: inline-block;
	font-weight: 400;
	background: red;
	fill: white;
	color: white;
	font-size: 13px;
	text-decoration: none;
	box-sizing: border-box;
}
.create-at {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	max-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--light-gray);
	line-height: 20px;
	font-size: 14px;
	font-weight: 400;
}
.like-icon {
	content: "\f184";
	color: black;
	font-size: 30px;
	line-height: 30px;
	font-family: "FontAwesome";
}
.likes {
	padding: 20px;
}
.friends {
	padding: 20px;
}
