@import "../../../index.css";
.sidebar .sidebar-item {
	margin-top: 50px;
}

.sidebar .search {
	margin-top: 0px;
}

.sidebar .search input {
	width: 100%;
	height: 50px;
	border: 1px solid var(--border-color);
	font-size: 13px;
	font-weight: 500;
	color: var(--dark-gray);
	outline: none;
	padding: 0px 15px;
}

.sidebar .search input::placeholder {
	color: var(--light-gray);
}
