@import "../../../index.css";
.sidebar .recent-posts ul li {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--border-color);
}

.sidebar .recent-posts ul li:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}

.sidebar .recent-posts ul li h5 {
	font-size: 19px;
	font-weight: 900;
	color: var(--dark-blue);
	line-height: 30px;
	transition: all 0.3s;
}

.sidebar .recent-posts ul li h5:hover {
	color: var(--orannnge);
}

.sidebar .recent-posts ul li span {
	display: block;
	font-size: 14px;
	color: var(--light-gray);
	margin-top: 8px;
}
