@import "../../index.css";
.blog-posts .blog-post {
	margin-bottom: 20px;
}
h6 {
	color: var(--light-gray);
}
.blog-posts .blog-thumb img {
	overflow: hidden;
	width: 100%;
}
.user-img {
	padding: 5px;
}
.user-info {
	color: var(--dark-gray);
	font-weight: 600;
	font-size: 18px;
}
.blog-posts .down-content {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	border-right: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.blog-posts .down-content span {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 900;
	color: var(--orannnge);
}

.blog-posts .down-content h4 {
	font-size: 24px;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	font-weight: 900;
	color: var(--dark-blue);
	margin: 10px 0px 12px 0px;
}

.blog-posts .down-content ul.post-info li {
	display: inline-block;
	margin-right: 8px;
}

.blog-posts .down-content ul.post-info li:after {
	content: "|";
	color: var(--light-gray);
	margin-left: 8px;
}
.blog-posts .down-content ul.post-info .link:after {
	content: "|";
	color: var(--light-gray);
	margin-left: 8px;
}

.blog-posts .down-content h4 {
	font-size: 20px;
	letter-spacing: 0.25px;
}

.grid-system .down-content ul.post-info li {
	margin-right: 3px;
}
.grid-system .down-content ul.post-info .link {
	margin-right: 3px;
}

.grid-system .down-content ul.post-info li:after {
	margin-left: 5px;
}
.grid-system .down-content ul.post-info .link:after {
	margin-left: 5px;
}
.blog-posts .down-content ul.post-info li:last-child::after {
	display: none;
}
.blog-posts .down-content ul.post-info link:last-child::after {
	display: none;
}

.blog-posts .down-content ul.post-info li a {
	font-size: 14px;
	color: var(--light-gray);
	font-weight: 400;
	transition: all 0.3s;
}
.blog-posts .down-content ul.post-info .link {
	font-size: 14px;
	color: var(--light-gray);
	font-weight: 400;
	transition: all 0.3s;
}

.blog-posts .down-content ul.post-info li a:hover {
	color: var(--orannnge);
}
.blog-posts .down-content ul.post-info .link:hover {
	color: var(--orannnge);
}

.blog-posts .down-content ul.post-share {
	text-align: right;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
	display: inline-block;
}

.blog-posts .down-content ul.post-tags li:first-child i,
.blog-posts .down-content ul.post-share li:first-child i {
	color: var(--orannnge);
	margin-right: 5px;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
	color: var(--light-gray);
}

.blog-posts .down-content ul.post-tags li a,
.blog-posts .down-content ul.post-share li a {
	font-size: 14px;
	color: var(--light-gray);
	font-weight: 400;
	transition: all 0.3s;
}

.blog-posts .down-content ul.post-tags li a:hover,
.blog-posts .down-content ul.post-share li a:hover {
	color: var(--orannnge);
}

ul.page-numbers {
	text-align: center;
}

ul.page-numbers li {
	display: inline-block;
	margin: 0px 5px;
}

ul.page-numbers li a {
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	color: var(--dark-gray);
	border: 1px solid var(--border-color);
	font-weight: 500;
	transition: all 0.3s;
}

ul.page-numbers li.active a {
	background-color: var(--orannnge);
	border-color: var(--orannnge);
	color: white;
}

ul.page-numbers li a:hover {
	color: var(--orannnge);
}

.blog-posts .sidebar-heading h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.5px;
	color: var(--dark-blue);
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 15px;
	margin-bottom: 25px;
}
