@import "../../index.css";
.blog-posts .submit-comment {
	margin-top: 60px;
}

.blog-posts .submit-comment input {
	width: 100%;
	height: 46px;
	border: 1px solid var(--border-color);
	font-size: 13px;
	font-weight: 500;
	color: var(--dark-gray);
	outline: none;
	padding: 0px 15px;
	margin-bottom: 30px;
}

.blog-posts .submit-comment textarea {
	width: 100%;
	height: 46px;
	border: 1px solid var(--border-color);
	font-size: 13px;
	font-weight: 500;
	color: var(--dark-gray);
	outline: none;
	padding: 10px 15px;
	margin-bottom: 30px;
	height: 180px;
	max-height: 220px;
	max-width: 100%;
	min-width: 160px;
}

.blog-posts .submit-comment input::placeholder,
.blog-posts .submit-comment textarea::placeholder {
	color: var(--light-gray);
}

.blog-posts .submit-comment button {
	display: inline-block;
	background-color: var(--orannnge);
	color: white;
	font-size: 13px;
	font-weight: 500;
	padding: 12px 20px;
	transition: all 0.3s;
	border: none;
	outline: none;
}

.blog-posts .submit-comment button:hover {
	background-color: var(--orannnge);
}
.textArea {
	resize: none;
	overflow-y: auto;
}
