:root {
	--orannnge: #f48840;
	--dark-gray: #7a7a7a;
	--light-gray: #aaa;
	--dark-blue: #20232e;
	--header-bg: #f7f7f7;
	--border-color: #eee;
}
body {
	margin: 0;
	font-family: "Segoe UI", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
