@import "../../index.css";
.cart-icon {
	color: black;
	font-size: 1.5rem;
	transition: all 0.2s;
}
.cart-icon:hover {
	color: var(--orannnge);
}

.link-color {
	color: black !important;
}
.link-color:hover {
	color: var(--orannnge) !important;
}

.nav-item {
	list-style: none !important;
}
.dropdown-menu {
	margin-top: 0 !important;
}
@media all and (min-width: 992px) {
	.dropdown-menu {
		display: none;
	}
	.nav-item:hover .dropdown-menu {
		display: block;
	}
}
header {
	width: 100%;
	height: 100px;
	background-color: var(--header-bg);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.background-header .navbar {
	padding: 17px 0px;
}
.background-header {
	top: 0;
	height: 80px;
	position: fixed;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.background-header .navbar-nav a.nav-link {
	color: #1e1e1e !important;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active > .nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show > .nav-link {
	color: var(--orannnge) !important;
}
.navbar .navbar-brand {
	float: left;
	margin-top: -20px;
	outline: none;
}
/* .navbar .navbar-brand img {
	color: #1e1e1e;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 900;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
} */
#navbarResponsive {
	z-index: 999;
	background-color: var(--header-bg);
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #1e1e1e;
	transition: all 0.3s;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show > .nav-link {
	color: var(--orannnge);
}
.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	border-color: var(--header-bg);
	background-color: var(--orannnge);
	height: 46px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 25px;
}
.navbar .navbar-toggler-icon:after {
	content: "\f0c9";
	color: var(--header-bg);
	font-size: 18px;
	line-height: 30px;
	font-family: "FontAwesome";
}
